body,html{
	margin:0;
	padding: 0;
	height: 100%;
}

header{
	height: 201px;
	
}

@media (min-width: 768px) {
    .navbar .navbar-nav {
        display: inline-block;
        float: none;
        vertical-align: top;
    }

    .navbar .navbar-collapse {
        text-align: center;
    }
}


.navbar {
	background-color: white;
	color: white;
}
.navbar-default .navbar-nav>li>a{
	color: black;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
	background-color: transparent;
	color: #263b85;
}


